<ion-content>
  <body>
  <div item-content style="display: flex; justify-content: space-between; width: 101%"> 
  <ion-row>  
  <ion-col col-4>
  <ion-card style="border:black 1px solid;height: 620px;margin-left: 150px;">
  <ion-card-content class="card-content" >
   <h1><ion-toolbar color="light" border-top-right-radius="8px" border-bottom-right-radius="8px" >
    <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
    <ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="font-size: x-large;" >
    </ion-icon> 
    <ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary">EDUCATION </ion-title>
    </div></ion-toolbar></h1><br><br>
<ion-list ></ion-list>
      <ion-label><a>&nbsp;2020 </a>: International Cybersecurity Institute | </ion-label>
      &nbsp;<a > Certified Network Security Specialist </a>
      <br><ion-list ></ion-list>
      <ion-label><a>&nbsp;2019 </a>: UNISA | </ion-label>
      &nbsp;<a > Diploma in IT [ NQF 6 ]</a>
      <ion-list ></ion-list>    
      <ion-label><a>&nbsp;2012 </a>: PC Training & Business College |</ion-label>
      &nbsp;<a> National Diploma in IT [ NQF 5 ]</a>
      <ion-list ></ion-list>
      <ion-label><a>&nbsp;2009 </a>: PC Training & Business College |</ion-label>
      &nbsp;<a > IT:Technical Support [ NQF 4 ]</a>
      <ion-list ></ion-list>
      <ion-label><a>&nbsp;2007 </a>: Manoe High School |</ion-label>
      &nbsp;<a > Grade 12</a>
      <ion-list  ></ion-list><p style="background-color: whitesmoke;"><img src="assets/IMG_20191114_221309 - Copy (2).jpg" style="height:240px;width:220px;margin-left: 300px
      ;border-top-left-radius: 40%;border-bottom-right-radius: 40%;"></p>
      <ion-list  ></ion-list>
      <ion-button style="height: 30px;" routerLink="" color="secondary" expand="block"> back</ion-button>
</ion-card-content></ion-card>
</ion-col></ion-row>
</div>