
body{background-color: turquoise;}
ion-avatar {width:200px;height:235px;}
ion-button{margin:10px;
margin-bottom: 1px;margin-left: 50px;margin-right: 1px;}
p{background-color:whitesmoke;
height: 600px;width: 300px;
border-top-right-radius: 8px ;
border-bottom-right-radius: 8px ;}   
ion-list{background-color: aqua;
padding: 1px;margin:10px;  
  }a{font-family: 'Times New Roman', Times, serif;
    margin:10px;
    margin-left: 40px; }
img{margin-bottom: auto; }
p1{height: 900px;
    width: 1500px;
    border-radius: 8px ;} 
    ion-label{
      width: 600px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 34px;
      color:darkblue;
      margin-left: auto;margin-right: auto;  
    }ul{ background-color:whitesmoke;
      padding:18px ;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;}
label{font-family: Georgia, 'Times New Roman', Times, serif;}
.sidebar {overflow-x: hidden;}
.sidebar a {
      padding: 0px ;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: flex;
    }
.sidebar a:hover {
      color: blue;
    }
    ion-card{color:blue;
      border-radius: 1px ;
    }
   
    
   
  