<body>
<div item-content style="display:flex; justify-content: space-between; width: 105%"> 
<div class="ion-text-nowrap"><p><br>
<ion-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/WP_20140322_005-1.jpg " width='390px' height='400px' class='center'>
</ion-avatar> 
<a style="font-size:22px;"><b>MATOME TONY KOBE </b></a>
<ion-list ></ion-list><label class="sidebar">
  <a href="#About"routerLink="/about"><ion-icon name="information-circle-outline" color="secondary" ></ion-icon>
&nbsp;About</a>
  <a href="#Contact" routerLink="/contact" ><ion-icon name="call-outline" color="tertiary" ></ion-icon>
&nbsp;Contact</a>
  <a href="#Education" routerLink="/education" ><ion-icon name="school-outline" color="dark">
  </ion-icon>
&nbsp;Education</a>
  <a href="#Experience" routerLink="/experience" ><ion-icon name="git-pull-request-outline" color="success"></ion-icon>
&nbsp;Experience</a></label><ion-list ></ion-list>
<a style="font-size:22px;"><b>PROJECTS</b></a>
<label class="sidebar" style="float: left;">
  <a href="#sign-in"routerLink="/sign-in"><ion-icon name="person-circle-outline" color="dark"></ion-icon>
&nbsp;Sign-up</a></label></p></div><p1>
<ion-card style="margin-top:17px;height: 600px;width:1200px;background-color:whitesmoke;border-bottom-left-radius: 10px ;
border-top-left-radius: 10px ;">
<ion-list style="margin-left:50px;width: 950px;padding: 1px;"></ion-list>
  <img src="assets/Code.png" style="margin-left:50px;margin-top: 5px;opacity:11px;height:350px;width:950px;">
  <ion-list style="margin-left:50px;width: 950px;padding: 3px;"></ion-list><br><br>
  <ion-list style="margin-left:50px;width: 950px;padding: 3px;"></ion-list>
  <ion-label style="font-family: 'Times New Roman', Times, serif;
  width:880px;color:brown;font-size: xx-large;margin-left: 300px;border-radius: 10px;
  ">Front-end & Back-end Development:</ion-label><br>
  <ion-label style="font-family: 'Times New Roman', Times, serif;font-size:large;margin-left: 200px;">
  [ HTML. CSS. IONIC & ANGULAR. PHP. VB.NET. JAVA. JAVASCRIPT. TYPESCRIPT ]</ion-label><br><br>
  <label class="sidebar" style="font-family: 'Times New Roman', Times, serif;display:flex;margin-left:260px;" >
  <a href="#skills" routerLink="/skills"style="font-family: 'Times New Roman', Times, serif;font-size:large;" >
    Skills |</a>
  <a href="#ref" routerLink="/ref" style="font-family: 'Times New Roman', Times, serif;font-size:large;">
    References |</a>
  <a href="#ref" routerLink="/projects" style="font-family: 'Times New Roman', Times, serif;font-size:large;">
    My Projects |</a> 
</label>
<ion-list style="margin-left:50px;width: 950px;padding: 1px;"></ion-list>
</ion-card>
</p1>
</div>

  
  
  