body{background-color: turquoise;}
ion-toolbar{border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;}
ion-title{
    font-family: 'Times New Roman', Times, serif;}
    ion-card {
    height: 450px;
    width: 280px;
    margin:auto;
    }
ion-button{
height: 28px;
font-size: 12px;
font-family: 'Times New Roman', Times, serif;
}
ion-input{
width: 236px;
font-size: 12;
height: 28px;
margin-bottom: 12px;
border: none;
color: black;
font-family: 'Times New Roman', Times, serif;
border-radius: 6px !important;
}ion-list{
    background-color: whitesmoke;
    height: 300px;
    border-bottom-left-radius: 20% !important;
    border-top-right-radius: 20% !important;
}.sidebar {overflow-x: hidden;}
.sidebar a {
      padding: 0px ;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: flex;
    }
.sidebar a:hover {
      color: blue;
    }
    ion-card{color:blue;
      border-radius: 1px ;
    }
   