
<body><br>
<ion-row><ion-col col-4>
<ion-card style="border:black 1px solid;height:540px;width: 1000px;">
<ion-card-content class="card-content" >
<h1><ion-toolbar color="light">
<div item-content style="display: flex; justify-content: space-between; width: 100%"> 
<ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="font-size: x-large;" >
</ion-icon> 
<ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary"><b>ABOUT</b> </ion-title>
</div></ion-toolbar></h1>
<label style="color: black;">
<p style="text-align: center;background-color:turquoise; width: 765px;" >I am a recent graduate from UNISA , seeking for role [ <b>Internship | &nbsp;Learnership</b> ]
    in every field <br>in IT ( Information Technology ) .
I am  highly &nbsp;organised and self &nbsp;driven individual , passionate about developing my &nbsp;career in the field of technology.</p>
</label>
<ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary">
<h1 style="color: brown;margin-left: 80px;">Responsibilities :</h1></ion-title>
<li>Create New Webpage [Ionic | Angular ]</li><li>Connect Firebase Database with Firebase</li> 
<li>Creating Firebase Project [Firebase Authentication | Storage]</li> 
<li>Firebase Hosting [ PWA ]</li>

<ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary">
    
<h1 style="color: brown;margin-left: 80px;">Ideal position :</h1></ion-title>
<li>Angular | Ionic  Developer [HTML5.CSS.TYPESCRIPT.JAVASCRIPT] </li>
<li>SQL Developer</li> <li>PHP Developer</li> <li>Database Adminstrator</li>
<li>Business Analysts | E-commerce</li><li>Network | Support Technician</li>
<ion-list></ion-list>
<ion-button color="secondary" routerLink="">Back</ion-button>
</ion-card-content></ion-card>
</ion-col></ion-row>