
<body>
<p style="border:whitesmoke 1px solid;height: 570px;width: 1320px;margin-left: 25px;"><br>
    <ion-toolbar color="light" style="margin-left:3px;margin-right:3px;width: 1310px;"> 
    <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
    <ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="font-size: x-large;" >
    </ion-icon>
    <ion-title style="font-family: 'Times New Roman', Times, serif;" 
    color="tertiary"><b>PROJECTS</b> </ion-title></div></ion-toolbar>
<ion-button routerLink="/onboarding" color="light" style="height:30px;width: 254px;" >
<ion-icon name="boat-outline" color="secondary" ></ion-icon><br>
&nbsp;onboarding </ion-button>
<ion-button routerLink="/github" color="light" color="light" style="height: 30px;width:254px;">
<ion-icon name="logo-github" color="dark" ></ion-icon><br>
&nbsp;Clone Git</ion-button><br><br><br>
<label style="font-family: 'Times New Roman', Times, serif;font-size:x-large;color:blue;">
<i>Github Projects</i></label><br>
<ion-label >1.<ion-label color="light">Add/Delete and view products from Array</ion-label>[<a>https://github.com/tonykobe8/angular-ivy-4800</a>]</ion-label><br>
<ion-label>2.<ion-label color="light">Pre-school Profile</ion-label>[<a>https://github.com/tonykobe8/goodhope</a>]</ion-label><br>
<ion-label>3.<ion-label color="light">News app</ion-label>[<a>https://github.com/tonykobe8/Newsfeeds</a>]</ion-label><br>
<ion-label>4.<ion-label color="light">Add/Edit/Delete todo list</ion-label>[<a>https://github.com/tonykobe8/ionic-5-angular-10-profile</a>]</ion-label><br>
<ion-label>5.<ion-label color="light">Function Counter</ion-label>[<a>https://github.com/tonykobe8/typescript-ywsemm</a>]</ion-label>
<ion-list></ion-list>
<label style="font-family: 'Times New Roman', Times, serif;font-size:x-large;color:blue;">
<i>Group Projects</i></label><br><ion-label color="tertiary">
<ion-label >1.</ion-label>Employee Profile: web app built by a team of 5(Five) for company to create,add and store its employees to array.
<br><ion-label >2.</ion-label>CLTS lifestyle events: A Web and Mobile app solution that is designed by team of
4(Four) for client who own a catering company to render service to local customers.</ion-label>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<ion-button expand="block" routerLink=""  color="dark"style="height: 30px;" >Back</ion-button>
</p>