body{background-color: turquoise;}
  ion-avatar {
    width:200px;height:225px;}
p{
background-color:white;
        height: 600px;
        width: 750px;
        border-top-right-radius: 8px ;
        border-bottom-right-radius: 8px ;}   
ion-list{
background-color:aqua;
            padding: 2px;
            margin:5px;  
            line-height: 34px;}
ion-label{
font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        color:blue;
}ion-icon {margin-left: 20px;
            font-size: 24px;
          }
          ion-button,ul{ //line-height: 40px;
                font-family: 'Times New Roman', Times, serif;
  border-bottom-right-radius:8px ;
  margin-left: 20px;width: 705px;
  margin:1px
          }
          