<body>
<p> <br><content>
<h1 ><ion-toolbar color="light" style="margin-left: 20px;margin-right: 20px;width:705px;">
    <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
    <ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="margin-left: 0px;font-size: x-large;" >
    </ion-icon> 
    <ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary"><b>CONTACT </b></ion-title>
    </div></ion-toolbar></h1><br>
    
<ion-icon name="globe" color='primary'></ion-icon><ion-label >&nbsp;2546 Winnie Mandela </ion-label>
        &nbsp;&nbsp;<br><ion-label style="margin-left: 20px;">Tembisa</ion-label><br>
        <ion-label style="margin-left: 20px;">1632</ion-label><br>
<ion-list style="margin-left: 20px;width: 705px;"></ion-list>
       <ion-icon name="call-outline" color='success' style="font-size:x-large;"></ion-icon>
        <ion-label  >&nbsp;084 525 9828 | 065 814 2656</ion-label><br>
<ion-list style="margin-left: 20px;width: 705px;"></ion-list><ion-icon name="mail-open-outline" color='default' style="font-size:x-large;"></ion-icon>  
       <ion-label>&nbsp;tonykobe8@gmail.com</ion-label>
<ion-list style="margin-left: 20px;width: 705px;"></ion-list>

</content><br><br><br><br><ul style="background-color: rgb(239, 240, 243);margin-left: 20px;">
<ion-icon name="logo-twitter" color="secondary"></ion-icon><ion-label>&nbsp;@tonykobe8</ion-label><br>
<ion-icon name="logo-facebook"  color="primary"></ion-icon><ion-label>&nbsp;/tony.kobe.7</ion-label><br>
<ion-icon name="logo-linkedin" color='primary' ></ion-icon><ion-label>&nbsp;linkedin.com/in/matome-kobe-1376b8169</ion-label>
</ul><br><br><br><br>
<ion-list style="margin-left:20px;width: 705px;padding:1px"></ion-list>
<ion-button style="margin-left:20px;height: 30px;" routerLink="" color="secondary"> back</ion-button>
</p>
    
      
