
<body><br>
  <ion-row><ion-col col-4>
  <ion-card style="border:black 1px solid;height: 495px;width: 1000px;">
  <ion-card-content class="card-content" >
  <h1><ion-toolbar color="light">
  <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
  <ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="font-size: x-large;" >
  </ion-icon> 
  <ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary"><b>REFERENCES</b> </ion-title>
  </div></ion-toolbar></h1><p><br>
 <ion-label style="color:black;" ><a>Nokwanda Moranjane </a>| codeTribe Tembisa Facilitator</ion-label><br>
  <ion-label style="color: blue;"><ion-icon name="call-outline" color='dark' style="font-size:large;"></ion-icon>+27835531652</ion-label><br>
 <ion-label style="color: blue;"><ion-icon name="mail-open-outline" color='dark' style="font-size:large;"></ion-icon>nokwanda@mlab.co.za</ion-label>
<ion-list></ion-list> 
<ion-label style="color:black;">Molokomme M.A |<a> Principal and WIL Montor</a></ion-label><br>
<ion-label style="color:black;"><ion-icon name="call-outline" color='tertiary' style="font-size:large;">
</ion-icon>015 505 0439 | 082 784 6889</ion-label><br><br><br><br><br><br><br><br><br>
<ion-list style="padding:1px;margin:1px"></ion-list>
<ion-button  routerLink="" color="secondary">Back</ion-button>
</p>
</ion-card-content></ion-card>
  </ion-col></ion-row>
        