ion-card {width: 975px;margin:auto;
}
ion-toolbar{width: 765px;
margin-left: 100px;margin-bottom: 10px;
}
ion-label{ color:black;
    margin-top: 10px; 
    font-family: 'Times New Roman', Times, serif;  
}
ion-list{width: 762px;
    margin-left:0px;background-color: aqua;
padding: 1px;  
    margin-top: 1px;margin-bottom: 1px;
      }
p{width: 765px;height: 400px;
margin-left: 100px;
background-color: rgb(248, 244, 244);
}
ion-button{margin-left:0px;color:blue;
width: 762px;height: 30px;
font-family:'Times New Roman', Times, serif}
a{font-size: large;
    font-family: 'Times New Roman', Times, serif;
}