<body><br>
  <ion-row><ion-col col-4>
  <ion-card style="border:black 1px solid;height: 495px;width: 1000px;">
  <ion-card-content class="card-content" >
  <h1><ion-toolbar color="light">
  <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
  <ion-icon name="arrow-back-circle-outline" routerLink="" color="primary" style="font-size: x-large;" >
  </ion-icon> 
  <ion-title style="font-family: 'Times New Roman', Times, serif;" color="tertiary"><b>SKILLS</b> </ion-title>
  </div></ion-toolbar></h1><p><br>
<ion-label style="font-family: 'Times New Roman', Times, serif;font-size:medium;"> 
      *<a>Front-end Development | </a>
      HTML. CSS. IONIC & ANGULAR. PHP. VB.NET. JAVA. JAVASCRIPT. TYPESCRIPT. SQL Server. Access<br>
      *<a>Web App & Mobile App Development</a><br>
      *<a>API | PWA</a><br>
      *<a>Apache</a><br>
      *<a>VsCode| Stackblitz| Node.js | GIT</a><br>
      *<a>Scrum For Team Collabarations:Github| Slack| Trello</a>
      </ion-label>
 <br><br><br><br><br><br><br><ion-list></ion-list>
<ion-button  routerLink="" color="secondary">Back</ion-button>
</p>
</ion-card-content></ion-card>
  </ion-col></ion-row>
        