<body>
  <ion-header>
  <ion-toolbar color="light">
    <div item-content style="display: flex; justify-content: space-between; width: 100%"> 
      <ion-icon name="arrow-back-circle-outline" routerLink="/projects" color="primary" style="font-size: x-large;" >
         </ion-icon>
      <ion-title color="tertiary"><b>onBoarding</b></ion-title></div>
    </ion-toolbar>
  </ion-header>
<br><br><br>
<div style="text-align: center;background-color: white;width:700px;height: 400px;">
<br><br><div item-content style="display: flex; justify-content: space-between; width: 75%"> 
<ion-label>"My message to those of you involve in this battle of brother against brother is this:
  take your guns, your knives & your pangas, & throw them into the sea.Close down the death factories.End this war now"<br>
          <a>_Nelson Rolihlahla Mandela</a></ion-label>     
<img src='\assets\princess-her-shoe-silhouette-wearing-31690645.jpg'>
</div><br>
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<ion-icon name="chevron-back-outline" routerLink="/screen1" style="font-size: large;">
</ion-icon>
&nbsp;&nbsp;&nbsp;<b style="font-family: 'Times New Roman', Times, serif;font-size: large;">3 / 3</b><br>

</div><br><br><br>
<div style="text-align: center;">
<ion-button  color="dark" expand="block"  style="height:30px;font-size:12px;"
routerLink="/sign-in">
log-out</ion-button></div>