body{background-color: turquoise;}
p{background-color:whitesmoke;
    height: 400px;width: 420px;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;} 
ion-button{margin-left:0px;color:blue;
        height: 30px;
        font-family:'Times New Roman', Times, serif}
a{
    font-family: 'Times New Roman', Times, serif;
}