<body>
<p style="border:black 1px solid;height: 570px;width: 1320px;">
<br><p>
  <label style="font-family: 'Times New Roman', Times, serif;font-size:x-large;color: blue;">
    <i>&nbsp;Steps to clone Github Projects</i></label><br>
    <a style="color:black;font-family: 'Times New Roman', Times, serif;font-size: large;">&nbsp;1.Open repo <br>
      &nbsp;2.Click on green button and select copy <br>
      &nbsp;3.Create a folder <br>
      &nbsp;4.On you CMD/comand prompt..navigate to your folder <br>
      &nbsp;5.Type cd(and the name of your project ) <br>
      &nbsp;6.Git clone + paste git link <br>
      &nbsp;7.Npm install  <br>
      &nbsp;8.Run ng serve[Angular] or ionic serve[Ionic]</a></p>
<br><br><br><br><br><br><br>

<ion-button expand="block" routerLink="/projects"  color="dark" >Back</ion-button></p>