<body>
  <ion-header>
  <ion-toolbar color="light">
      <ion-title color="tertiary"><b>onBoarding</b></ion-title>
    </ion-toolbar>
  </ion-header>
  
  
    <br><br><br>
  
    <div style="text-align: center;background-color: white;width:700px;height: 400px;">
      <br><br><div item-content style="display: flex; justify-content: space-between; width: 75%"> 
      <img src='\assets\princess-her-shoe-silhouette-wearing-31690645.jpg'>
    <ion-label>"One of the  most difficult things is not to change society-but to change yourself"<br>
      <a>_Nelson Rolihlahla Mandela</a></ion-label>
</div><br>
      &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<ion-icon name="chevron-back-outline" routerLink="/onboarding" style="font-size: large;">
      </ion-icon>
      &nbsp;&nbsp;&nbsp;<b style="font-family: 'Times New Roman', Times, serif;font-size: large;">2 / 3 </b>
      &nbsp;&nbsp;&nbsp;<ion-icon name="chevron-forward-outline" routerLink="/screen2" style="font-size: large;" ></ion-icon>
    </div>